@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter";
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task_block {
  width: 520px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.task_title {
  margin: 15px;
}
.subtasks_list {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.remove_button {
  background: linear-gradient(
    90deg,
    rgb(106, 98, 253) 0%,
    rgb(172, 81, 243) 100%
  );
  border-radius: 10px;
  padding: 12px;
  border: none;
  color: white;
  outline: none;
  text-decoration: none;
}
.remove_button:hover {
  background: linear-gradient(
    90deg,
    rgb(109, 97, 252) 0%,
    rgb(175, 80, 242) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 11px;
  border: 1px solid black;
}
.buttons_block {
  display: flex;
  margin-top: 20px;
}
.default_button {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(109, 97, 252) 0%,
    rgb(175, 80, 242) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}
.default_button:hover {
  transition: 1s;
  background: linear-gradient(
    90deg,
    rgb(109, 97, 252) 0%,
    rgb(175, 80, 242) 100%
  );
  -webkit-text-fill-color: white;
}
.local_button {
  margin-right: 20px;
  font-size: 16px;
}
.input {
  background-color: #262d3a;
  border-radius: 10px;
  width: 496px;
  padding: 12px;
  border: none;
  color: white;
  outline: none;
}
.input_hours {
  margin: 0px 20px;
  width: 40px;
  background-color: #262d3a;
  border-radius: 10px;
  padding: 12px;
  border: none;
  color: white;
  outline: none;
}
::placeholder {
  color: #fff;
}
